<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Xplora, <%=CustomerName%></th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=CustomerName%></p>
                <p><img src="https://cdn.pixabay.com/photo/2021/09/07/11/53/car-6603726_1280.jpg" alt=""></p>
                <p>
                    Thank you for signing up. <br>
                    Discover your next getaway. Let's explore this great country, together! <br>

                    Thank you.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>