<footer class="footer">

    <div class="qlink">
        <div class="quickLinks">
            <h4>Company Info</h4>
            <div>About Us</div>
            <div>Career</div>
            <div>We are hiring</div>
            <div>Blog</div>
        </div>
        <div class="quickLinks">
            <h4>Legal</h4>
            <div>Terms and Conditions</div>
            <div>Privacy Policy</div>
            <div>Refund Policy</div>
            <div>Blog</div>
        </div>
        <div class="quickLinks">
            <h4>Features</h4>
            <div>iOS & Android</div>
            <div>Watch a Demo</div>
            <div>Customers</div>
            <div>API</div>
        </div>
        <div class="quickLinks">
            <h4>Resources</h4>
            <div>Business marketing</div>
            <div>User Analytics</div>
            <div>Live Chat</div>
            <div>Unlimited support</div>
        </div>
        <div class="quickLinks" id="call">
            <h4>Get in Touch</h4>
            <div class="enquire">
                <div class="info"><img src="./phone-solid.svg" alt="">(480)-555-1234</div>
                <div class="info"><img src="./location-dot-solid.svg" alt="">4764 Washington Ave</div>
            </div>

        </div>
    </div>
    <div class="socials">

        <div class="follow">
            <img src="./facebook.svg" alt="">
            <img src="./instagram.svg" alt="">
            <img src="./twitter.svg" alt="">
        </div>
    </div>

</footer>