<div class="drawer-container" [ngClass]="{'drawer-open': isTourDrawerOpen}">
<div class="newTourContainer">
    <div class="addNewTourDiv">
        <a (click)="toggleTourDrawer()" id="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>

        <p>Add a New Destination</p>
        <form class="addTourForm"[formGroup]="addTourForm" (ngSubmit)="addTour()">
            <label for="selectTourDrpdwn">Tour category:</label>
            <select name="tourOptions" id="selectTourDrpdwn" formControlName = "category">
                <option value="HIKE">HIKE</option>
                <option value="CULTURAL EXCURSION">CULTURAL EXCURSION</option>
                <option value="WEEKEND GETAWAY">WEEKEND GETAWAY</option>
            </select>
            <div class="destinationDiv">
                <label for="destination">Destination:*</label>
                <br>
                <input type="text" id="destination" formControlName = "destination" placeholder="Where?">
            </div>   
            <div class="fromDiv">
                <label for="from">From:*</label>
                <br>
                <input type="date" name="from" id="from"  placeholder="From?" formControlName="start_date">
            </div> 

            <div class="toDiv">
                <label for="to">To:*</label>
                <br>
                <input type="date" name="to" id="to"  placeholder="To?" formControlName="end_date">
            </div>
            <div class="priceDiv">
                <label for="price">Charges:*</label>
                <br>
                <input type="number" id="price" formControlName = "price" placeholder="Charges">     
            </div>  
            <div class="bookBtn">
                <input type="submit" value="SAVE TOUR">
            </div>
        </form>    
    </div>
</div>
    <router-outlet></router-outlet>
