<div class="title">
    <h1>XPLORA</h1>
    <p>Tours & Travels</p>
</div>
<div class="auth">
    <div class="logins">
        <p>SET UP A NEW PASSWORD</p>
        <form #resetPassword = 'ngForm' (ngSubmit)="newPassword(resetPassword.value)" class="resetPasswordForm">
            <div class="newPasswordInputs">                
                <div class="newPasswordDiv">
                    <label for="newPasswordEntered">New Password:*</label>
                    <br>
                    <input type="password" name="password" id="newPasswordEntered" ngModel placeholder="**************">
                </div>
                <div class="confirmField">
                    <label for="loginPassword">Confirm Password:*</label>
                    <br>
                    <input type="password" name="password" id="loginPassword" ngModel placeholder="*************">
                    <br>
                </div>
            </div>
            <div class="savePWDiv">
                <input type="submit" value="SAVE PASSWORD">
            </div>
            <p routerLink="/login" style="cursor: pointer;">Back</p>
        </form>    
    </div>
</div>
<router-outlet></router-outlet>